*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    /* Color */
    --color-red: #CD2628;
    --color-green: #8EBF00;
    --color-header: #676767;
    --color-subtitle: #999;
    --color-gary: #919191;
    /* Font-family */
    --font-date: "Noteworthy";
    --font-header: "Avenir Next";
    --font-subtitle: "Geneva";
    /* Font-size */
    --size-subtitle: 12px;
}

.container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.clear-fix{
    clear: both;
}
.subtitle{
    font-family: var(--font-subtitle);
    color: var(--color-subtitle);
    font-size: var(--size-subtitle);
    padding: 10px 20px;
    line-height: 1.5;
}
.title{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;

}
/* header */
header{
    width: 100%;
    height: 450px;
}
header .container{
    position: relative;
    text-align: center;
}
header .container > img{
    width: 100%;
    height: 100%;
}
header .container .button{
    position: absolute;
    bottom: 25px;
    left: 45%;
}
header .container .button img{
    width: 20px;
}
header .container .button img:hover{
    filter: grayscale(100%);
}
/* Main */
main{
    width: 100%;
    text-align: center;
    margin: 100px auto 50px auto;
}
main .container .main_subtitle{
    width: 70%;
    margin: 20px auto 50px auto;
}
main .container h1{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-red);
}
main .container h1 span{
    color: var(--color-green);
}
main .container .main_item{
    width: 23%;
    padding: 5px;
    border: 2px solid var(--color-green);
    display: inline-block;
    margin: 50px 5px;
    vertical-align: top;
}
main .container .main_item img{
    width: 30px;
    padding: 5px 0;
}
main .container .main_item .title{
    color: var(--color-red);
    padding: 5px;
}
main .container .main_item .subtitle{
    padding: 0 5px;
}

/* popular */
#popular{
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
#popular .container h1{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-red);
    margin-bottom: 20px;
}
#popular .container h1 span{
    color: var(--color-green);
}
#popular .container .popular_item{
    width: 23%;
    padding: 5px;
    border: 2px solid var(--color-green);
    display: inline-block;
    margin: 50px 5px;
    vertical-align: top;
}
#popular .container .popular_item img{
    width: 30px;
    padding: 5px 0;
}
#popular .container .popular_item .title{
    color: var(--color-header);
    padding: 5px;
    letter-spacing: 0.8;
}
#popular .container .popular_item .subtitle{
    padding: 0 5px;
    font-size: 16px;
    color: var(--color-green);
    margin-bottom: 10px;
}