*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Color */
    --color-red: #CD2628;
    --color-green: #8EBF00;
    --color-header: #4E4E4E;
    --color-subtitle: #999;
    --color-gary: #919191;
    --color-white: #FEFEFC;
    /* Font-family */
    --font-date: "Noteworthy";
    --font-header: "Avenir Next";
    --font-subtitle: "Geneva";
    /* Font-size */
    --size-subtitle: 10px;
    --size-header: 18px;
}
.container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.clear-fix{
    clear: both;
}
.subtitle{
    font-family: var(--font-subtitle);
    color: var(--color-subtitle);
    font-size: var(--size-subtitle);
    padding: 10px 20px;
    line-height: 1.5;
}
.title{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-size: 17px;
}
.link{
    display: inline-block;
    text-decoration: none;
    font-size: var(--size-subtitle);
    margin-top: 10px;
    padding: 5px 10px;
    text-transform: capitalize;
    color: var(--color-header);
    border: 1px solid var(--color-green);
    border-radius: 3px;
    font-family: var(--font-subtitle);
}
/* Nav */
nav {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid var(--color-green);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
nav img{
    height: 100%;
    margin-left: 30px;
}
nav .nav_menu{
    display: inline-block;
    float: right;
    margin-right: 50px;
}
nav .nav_menu ul li{
    display: inline-block;
    cursor: pointer;
}
nav .nav_menu ul li a{
    text-decoration: none;
    color: var(--color-red);
    font-family: var(--font-header);
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    padding: 13px 15px;
}
nav .nav_menu ul li:hover{
    background: var(--color-red);
}

nav .nav_menu ul li:hover a{
    color: var(--color-white);
}
nav .nav_menu .active a{
    background: var(--color-red);
    color: var(--color-white);

}


/* header */
header{
    width: 100%;
    height: 450px;
    margin-top: 50px;
}
header .container{
    position: relative;
    text-align: center;
}
header .container > img{
    width: 100%;
    height: 100%;
}
header .container .button{
    position: absolute;
    bottom: 25px;
    left: 45%;
}
header .container .button img{
    width: 20px;
}
header .container .button img:hover{
    filter: grayscale(100%);
}
/* Main */
main{
    width: 100%;
    text-align: center;
    margin: 100px auto 50px auto;
}
main .container .main_subtitle{
    width: 70%;
    margin: 20px auto 50px auto;
}
main .container h1{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-red);
}
main .container h1 span{
    color: var(--color-green);
}
main .container .main_item{
    width: 23%;
    padding: 5px;
    border: 2px solid var(--color-green);
    display: inline-block;
    margin: 50px 5px;
    vertical-align: top;
}
main .container .main_item img{
    width: 30px;
    padding: 5px 0;
}
main .container .main_item .title{
    color: var(--color-red);
    padding: 5px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 600;
}
main .container .main_item .subtitle{
    padding: 0 5px;
    margin-bottom: 7px;

}

/* popular */
#popular{
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
#popular .container h1{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-red);
    margin-bottom: 20px;
}
#popular .container h1 span{
    color: var(--color-green);
}
#popular .container .popular_item{
    width: 23%;
    padding: 5px;
    border: 2px solid var(--color-green);
    display: inline-block;
    margin: 50px 5px;
    vertical-align: top;
}
#popular .container .popular_item img{
    width: 30px;
    padding: 5px 0;
}
#popular .container .popular_item .title{
    color: var(--color-header);
    padding: 5px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 500;
}
#popular .container .popular_item .subtitle{
    padding: 0 5px;
    font-size: 14px;
    color: var(--color-green);
    margin-bottom: 7px;

}
/* menu */
#menu{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 50px 0;
}
#menu .container{
    background-image: url(./images/HomeDesktophtml_row3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
#menu .container .menu_title{
    position: absolute;
    width: 60%;
    margin: 0 auto;
    top: 35%;
    left: 150px;
    text-align: center;
}
#menu .container .menu_title h1{
    font-size: var(--font-header);
    font-family: var(--font-date);
    font-size: 34px;
    color: var(--color-white);
    font-style: italic;
    letter-spacing: 1.3px;
    word-spacing: 2px;
}

/* portfolio */
#portfolio{
    width: 100%;
    margin: 50px 0;
    position: relative;
}

#portfolio .container .portfolio_item{
    width: 23%;
    padding: 5px;
    display: inline-block;
    margin: 50px 5px;
    vertical-align: top;
    text-align: center;
}
#portfolio .container .portfolio_item img{
    width: 60px;
    padding: 5px 0;
}
#portfolio .container .portfolio_item .title{
    color: var(--color-header);
    padding: 5px;

}
#portfolio .container .portfolio_item .subtitle{
    padding: 0 5px;
    color: var(--color-subtitle);
    line-height: 1.8;
}
#portfolio a img{
    position: absolute;
    display: block;
    right: 40px;
    bottom: 50px;
    width: 30px;
    
}
#portfolio a img:hover{
    filter: grayscale(100%);
}
/* About */
#event{
    width: 100%;
    margin: 100px 0;
}
#event .container h1{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-header);
    margin-bottom: 40px;
    text-align: center;
}
#event .container .event_item{
    width: 49%;
    padding: 0 30px;
    display: inline-block;
}
#event .container .event_item img{
    display: block;
    margin: 10px auto;
    text-align: center;
    background: linear-gradient(to bottom right, darkblue, rgb(96, 18, 199));
}
#event .container .event_item h4{
    font-family: var(--font-date);
    color: var(--color-red);
    margin-top: 20px;
}
#event .container .event_item .title{
    text-align: left;
    margin: 5px 0;
    line-height: 1.4;
    text-transform: none;
    padding-right: 10px;
}
#event .container .event_item .subtitle{
    padding: 0;
}
#event .container .event_item strong{
    font-weight: 900;
    color: var(--color-header);
}   
/* About */
#about{
    width: 100%;
    margin: 50px 0;
    height: 350px
}
#about .container{
    height: 100%;
    background-color: var(--color-green);
}
#about .container .about_item{
    width: 45%;
    display: inline-block;
    padding: 20px;
}
#about .container .about_item .title{
    color: var(--color-white);
    font-family: var(--font-date);
    text-transform: none;
    line-height: 1.3;
    font-size: 40px;
    padding: 20px;
    font-weight: 500;
}
#about .container .about_item .link{
    color: var(--color-white);
    border-color: var(--color-white);
    margin-left: 20px;
}

#about .container .about_item-img{
    display: inline-block;
    width: 53%;
    height: 100%;
    background-image: url(./images/HomeDesktophtml_column61.jpg);
    background-position: center;
    background-size: cover;
    float: right;
}
/* contact */
#contact{
    width: 100%;
    margin: 50px 0;

}
#contact .container{
    padding: 25px;
    text-align: center;
}
#contact .container h1{
    font-family: var(--font-header);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-red);
    text-align: center;
    font-size: 26px;
    margin-bottom: 50px;
}
#contact .container h1 span{
    color: var(--color-green);
}
#contact .container .contact_item{
    width: 24%;
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}
#contact .container .contact_item h3{
    font-family: var(--font-date);
    color: var(--color-subtitle);
    text-align: left;
    font-size: 26px;
    letter-spacing: 1.6px;
}
#contact .container .contact_item .subtitle{
    padding: 0;
    text-align: left;
    margin: 5px 0;
}
/* Footer */
footer{
    background-color: #323232;
    width: 60%;
    margin: 0 auto;
    padding: 35px 20px 20px;
    text-align: center;
}
footer .footer_item{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    
}
footer .footer_item .brand{
    width: 80%;
    display: block;
    margin-bottom: 20px;
}
footer .footer_item .subtitle{
    padding: 0 5px;
    line-height: 1.8;
    font-style: normal;
    text-align: left;
}
footer .footer_item .title{
    padding: 0 5px;
    font-style: normal;
    color: var(--color-white);
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
footer .footer_item li{
    display: block;
}
footer .footer_item strong{
    font-family: var(--font-date);
    text-align: left;
    display: block;

}
footer .footer_item a{
    text-decoration: none;
    text-align: left;
    display: block;

}
footer .footer_item a:hover{
    color: var(--color-white);
}
footer .footer_socials{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
footer .footer_socials a{
    display: inline-block;
}
footer .footer_socials a img{
    display: inline-block;
    height: 100%;
    width: 100%;
}

footer .copy{
    padding: 0;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 12px;
}